* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
    font-size:2vw
}

body, html {
    height: 100%;
  }

/* Nav bar CSS */
header {
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style: none;
    float: left;
    color: white; 
    text-decoration: none;
}

a {
    color: white; 
    text-decoration: none;
}

.navbar {
    background-color: #262626;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    gap: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(72, 86, 177);
}

.hamburger {
    display: none;
    cursor: pointer;
    align-items: right;
}

.bar {
    align-items: right;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 10px;
        gap: 2px;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: right;
        transition: 0.3s;
    }

    .navbar {
        min-height: 10px;
        padding: 2px 2px 2px 2px;
    }

    .nav-item {
        margin: 16px;
    }

    .nav-menu.active {
        left: 0;
    }

    .header-containers {
        align-items: center;
    }
    
}
/* Nav bar CSS end */

/* Welcome page Background image */
.background_image {
    background-image: url("./Images/outside.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* Welcome page header styles */
 .header-containers {
    width: 75%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #ffffff; opacity: 75%;
    position: absolute;
    top: 50%;
    right: 10%;
    left: 10%;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}

  .h1-welcome {
    text-align: center;
    color: rgb(66, 19, 19);
  }

  .h3-welcome {
    text-align: center;
    justify-content: center;
    color: #dc3b3b;
  }

  /* Enter button */
.background_image .btn {
    position: relative;
    top: 90%;
    left: 42%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #9f4141;
    color: #262626;
    font-size: 2vw;
    padding: 1.2%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .background_image .btn:hover {
    background-color: rgb(33, 155, 96);
    color: #262626;
  }

/* Solve Page CSS */

.solve-title {
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10% 5px;
}

.solve-subtitle {
    padding: 2% 10% 5px;
}

.solve-paragraph {
    padding: 2% 10% 5px;
}

.solve-people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    padding: 2% 10% 5px;
}

.solve-objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    padding: 2% 10% 5px;
}

.solution-object {
    height: auto;
    width: 100px;
    border: 0;
    margin: auto; 
}

.solution-person {
    width: auto;
    height: 30vh;
    border: 0;
    margin: auto;
}

#solution-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #9f4141;
    color: #262626;
    font-size: 16px;
    padding: 2px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
  }
  
  #solution-button:hover {
    background-color: rgb(33, 155, 96);
    color: #262626;
  }

button {     
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

#correct-solution {
    align-items: center;
    justify-content: center;
    background-color: #ffffff93;
    color: #262626;
    font-size: 12px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    opacity: 0;
}

.guess-wallpaper {
    background-image: url(/images/wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    box-shadow: inset 0 0 0 100vmax rgba(51, 51, 51, 0.8);
 } 

 /* Rooms CSS */

html {
    min-height: 100%;
  }
  
  body {
    min-height: 100vh;
  }
  
  /* Background images */

  .receptionbg {
    background-image: url(./images/Reception.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .loungebg{
    background-image: url(./images/Lounge.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .kitchenbg{
    background-image: url(./images/Kitchen.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .gardenbg{
    background-image: url(./images/Garden.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .outbuildingbg{
    background-image: url(./images/Outbuilding.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bedroombg{
    background-image: url(./images/Bedroom.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bathroombg{
    background-image: url(./images/Bathroom.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Clickable objects and people */

#phone{
    width: 5%;
    height: 5%;
    position: absolute;
    bottom: 26%;
    left: 27%;
    z-index: 3;
}

#Holly{
    width: 5%;
    height: 28%;
    position: absolute;
    bottom: 33%;
    left: 38%;
    color: white;
    z-index: 3;
}

#Marc{
    width: 9%;
    height: 24%;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 3;
}

#rope{
    width: 9%;
    height: 5%;
    position: absolute;
    bottom: 25%;
    right: 1%;
    color: white;
    z-index: 3;
}

#Walter{
    width: 20%;
    height: 73%;
    position: absolute;
    bottom: 1%;
    right: 29%;
    z-index: 3;
}

#Hazel{
    width: 15%;
    height: 70%;
    position: absolute;
    bottom: 0%;
    left: 12%;
    color: white;
    z-index: 3;
}

#rifles{
    width: 16%;
    height: 14%;
    position: absolute;
    top: 26%;
    left: 29%;
    z-index: 3;
}

#Will{
    width: 13%;
    height: 48%;
    position: absolute;
    bottom: 19%;
    right: 15%;
    color: white;
    z-index: 3;
}

#Lewis{
    width: 10%;
    height: 38%;
    position: absolute;
    bottom: 26%;
    right: 18%;
    z-index: 3;
}

#whiskey{
    width: 2.5%;
    height:10%;
    position: absolute;
    bottom: 38%;
    right: 39%;
    color: white;
    z-index: 3;
}

#Dusty{
    width: 20%;
    height: 62%;
    position: absolute;
    bottom: 14%;
    left: 0%;
    z-index: 3;
}

#book{
    width: 4%;
    height: 8%;
    position: absolute;
    bottom: 39.5%;
    right: 38.5%;
    color: white;
    z-index: 3;
}

#bin{
    width: 5%;
    height: 17%;
    position: absolute;
    bottom: 16%;
    right: 19%;
    z-index: 3;
}

#knife{
    width: 10%;
    height: 5%;
    position: absolute;
    bottom: 36.5%;
    left: 17%;
    color: white;
    z-index: 3;
}

/* Navigate Room Buttons */

#loungeButton{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 39%;
    left: 28%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#bedroomButton{
    width: 8%;
    height: 3%;
    position: absolute;
    top: 17%;
    left: 2%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#kitchenButton{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 36%;
    left: 2%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#receptionButton{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 6%;
    right: 5%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#bathroomButton{
    width: 8%;
    height: 3%;
    position: absolute;
    top: 40%;
    left: 3.5%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#loungeButton3{
    width: 8%;
    height: 3%;
    position: absolute;
    top: 36%;
    right: 10%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#bedroomButton2{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 79%;
    left: 3%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#gardenButton{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 56%;
    right: 22%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#loungeButton2{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#outbuildingButton{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 42%;
    right: 33%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#kitchenButton2{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 2%;
    left: 20%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#gardenButton2{
    width: 8%;
    height: 3%;
    position: absolute;
    bottom: 3%;
    left: 10%;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Description pop-up boxes */

#HollyBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 40%;
    left: 35%;
    top:29%;
    padding-left: 8%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#phoneBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    left: 30%;
    bottom:9%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#MarcBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 25%;
    left: 12%;
    top: 29%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#ropeBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    right: 6%;
    bottom:23%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#WalterBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 40%;
    right: 5%;
    top:4%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#HazelBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    left: 20%;
    bottom:13%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#riflesBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    left: 15%;
    top:14%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#WillBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 25%;
    right: 26%;
    bottom:20%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#LewisBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 40%;
    left: 29%;
    top:14%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#whiskeyBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    padding-right: 7%;
    position: absolute;
    width: 20%;
    left: 41%;
    bottom:35%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#DustyBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 48%;
    left: 7%;
    bottom:9%;
    padding-left: 8%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#bookBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    left: 60%;
    bottom:41%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

#knifeBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 30%;
    left: 14%;
    bottom:32%;
    padding-left: 12%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;
}

#binBox{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    width: 20%;
    right: 22%;
    bottom:16%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
    opacity: 0;  
}

/* Intro boxes */

#Intro{
    background-color: white;
    color: black;
    border: solid black 2px;
    margin: 2%;
    padding: 1%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 40%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 2;
}

#introHelp{
    background-color: yellow;
    color: black;
    border: solid black 2px;
    display: flex;
    margin: 2%;
    padding: 1%;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 30%;
    font-size: 1vw;
    font-family:sans-serif;
    z-index: 1;
}

/* Additional pop-up items */

#textstoHazel{
    height: 60%;
    width: 25%;
    position: absolute;
    left: 0%;
    bottom:0%;
    padding: 2%;
    z-index: 4;
    opacity: 0;
}

#textstoMarc{
    height: 60%;
    width: 25%;
    position: absolute;
    right: 0%;
    bottom:0%;
    padding: 2%;
    z-index: 5;
    opacity: 0;
}

#foreword{
    height: 60%;
    width: 37%;
    position: absolute;
    left: 18%;
    top:3%;
    padding: 2%;
    z-index: 5;
    opacity: 0;
}

/* How to play page */

.howtoplaybg{
    background-color: lightblue;
}

#playTitle{
    font-size: 500%;
    display: flex;
    justify-content: center;
    padding: 5%;
}

#playSubtitle{
    padding: 2%;
}

#playParagraph{
    padding: 2%;
}

#playHints{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
}

.HintsAndTips{
    color: black;
    padding-left: 2%;
    display: flex;
    font-size: 1.7vw;
}

#questionmarks{
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

#homeButton{
    width: 12%;
    height: 4%;
    position: relative;
    right: 44%;
    left: 44%;
    font-size: 2vw;
    background-color: black;
    color: white;
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

